v5.3.0/EFET-ConfirmationDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecc="http://www.efet.org/schemas/eCM/V4R2/EFET-CoreCmpts-V4R2.xsd"
    elementFormDefault="qualified">

    <xsd:import namespace="http://www.efet.org/schemas/eCM/V4R2/EFET-CoreCmpts-V4R2.xsd" schemaLocation="EFET-CoreCmpts-V4R2.xsd" />
    <xsd:include schemaLocation="EFET-CoreElements-V4R2.xsd" />

    <xsd:group name="ConfirmationDescription">
        <xsd:sequence>
            <xsd:sequence>
                <xsd:element name="Market" type="ecc:CountryCodeType" minOccurs="0" />
                <xsd:element name="Commodity" type="ecc:EnergyProductType" minOccurs="0" />
                <xsd:element name="TransactionType" type="ecc:TransactionType" />
                <xsd:element name="DeliveryPointArea" type="ecc:AreaType" minOccurs="0" />
                <xsd:element name="BuyerParty" type="ecc:PartyType" />
                <xsd:element name="SellerParty" type="ecc:PartyType" />
                <xsd:element name="LoadType" type="ecc:ContractType" minOccurs="0" />
                <xsd:element name="Agreement" type="ecc:AgreementType" />
                <xsd:element name="Currency" type="ecc:CurrencyCodeTypeWithFractionOption" />
                <xsd:element name="TotalVolume" type="ecc:QuantityType" minOccurs="0" />
                <xsd:choice minOccurs="0">
                    <xsd:element name="TotalVolumeUnit" type="ecc:UnitOfMeasureType" />
                    <xsd:element name="TotalAmountCurrency" type="ecc:CurrencyCodeType" />
                </xsd:choice>
                <xsd:element name="TradeDate" type="ecc:DateType" />
                <xsd:element name="CapacityUnit" type="ecc:UnitOfMeasureType" minOccurs="0" />
                <xsd:element name="PriceUnit" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Currency" type="ecc:CurrencyCodeTypeWithFractionOption" />
                            <xsd:element name="CapacityUnit" type="ecc:UnitOfMeasureType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="TimeIntervalQuantities" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="TimeIntervalQuantity" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="DeliveryStartDateAndTime" type="ecc:ClockDateTimeType" />
                                        <xsd:element name="DeliveryEndDateAndTime" type="ecc:ClockDateTimeType" />
                                        <xsd:element name="ContractCapacity" type="ecc:QuantityType" />
                                        <xsd:element name="Price" type="ecc:PriceType" minOccurs="0" />
                                        <xsd:element name="PaymentEvent" type="ecc:PaymentEventType" minOccurs="0" />
                                        <xsd:element name="PaymentEventOffset" type="ecc:QuantityType" minOccurs="0" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="FixedPriceInformation" minOccurs="0" />
                <xsd:choice>
                    <xsd:element name="TotalContractValue" type="ecc:PriceType" />
                    <xsd:element name="FloatPriceInformation" maxOccurs="2">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="FloatPricePayer" type="ecc:PartyType" />
                                <xsd:element name="FormulaID" type="ecc:IdentificationType" minOccurs="0" />
                                <xsd:element name="FormulaSpreadInformation" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="SpreadPayer" type="ecc:PartyType" />
                                            <xsd:element name="SpreadAmount" type="ecc:PriceType" />
                                            <xsd:element name="SpreadCurrencyUnit" type="ecc:CurrencyCodeType" minOccurs="0" />
                                            <xsd:element ref="FXInformation" minOccurs="0" />
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="CommodityReferences" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="CommodityReference" maxOccurs="unbounded">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="CommodityReferencePrice" type="ecc:ISDACommodityDefinitionsType" />
                                                        <xsd:element name="IndexCommodity" type="ecc:IndexCommodityType" />
                                                        <xsd:element name="IndexCurrencyUnit" type="ecc:CurrencyCodeType" />
                                                        <xsd:element name="IndexCapacityUnit" type="ecc:UnitOfMeasureType" />
                                                        <xsd:element name="SpecifiedPrice" type="ecc:SpecifiedPriceType" />
                                                        <xsd:element name="Factor" type="ecc:QuantityType" />
                                                        <xsd:element name="DeliveryDate" type="ecc:DeliveryDateType" />
                                                        <xsd:element name="DatedContract" type="ecc:DateType" minOccurs="0" />
                                                        <xsd:element name="Multiplier" type="ecc:QuantityType" minOccurs="0" />
                                                        <xsd:element name="PricingDate" type="ecc:PricingDateType" minOccurs="0" />
                                                        <xsd:element name="IndexCap" type="ecc:PriceType" minOccurs="0" />
                                                        <xsd:element name="IndexFloor" type="ecc:PriceType" minOccurs="0" />
                                                        <xsd:element name="CRCapacityConversionRate" type="ecc:QuantityType"
                                                            minOccurs="0" />
                                                        <xsd:element name="PhysicalIndexPricingDates" minOccurs="0">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element name="PIPricingDate" type="ecc:DateType"
                                                                        maxOccurs="unbounded" />
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element ref="FXInformation" minOccurs="0" />
                                                        <xsd:element name="SpreadInformation" minOccurs="0">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element name="SpreadPayer" type="ecc:PartyType" />
                                                                    <xsd:element name="SpreadAmount" type="ecc:PriceType" />
                                                                    <xsd:element name="SpreadCurrencyUnit" type="ecc:CurrencyCodeType"
                                                                        minOccurs="0" />
                                                                    <xsd:element ref="FXInformation" minOccurs="0" />
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="CalculationPeriods" minOccurs="0">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element name="CalculationPeriod" maxOccurs="unbounded">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="StartDate" type="ecc:DateType" />
                                                                                <xsd:element name="EndDate" type="ecc:DateType" />
                                                                                <xsd:element name="CPNotionalQuantity" type="ecc:QuantityType"
                                                                                    minOccurs="0" />
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="PricingFXPeriods" minOccurs="0">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element name="PricingFXPeriod" maxOccurs="unbounded">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="StartDate" type="ecc:DateType" />
                                                                                <xsd:element name="EndDate" type="ecc:DateType" />
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:element ref="Rounding" minOccurs="0" />
                <xsd:element ref="CommonPricing" minOccurs="0" />
                <xsd:element ref="OrderNumber" minOccurs="0" />
                <xsd:element ref="EffectiveDate" minOccurs="0" />
                <xsd:element ref="TerminationDate" minOccurs="0" />
                <xsd:element name="EUATradeDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Price" type="ecc:PriceType" minOccurs="0" />
                            <xsd:element name="EmissionsDeliveryDate" type="ecc:DateType" />
                            <xsd:element name="BuyerDeliveryAccount" type="ecc:EUAAccountCodeType" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="PhysicalCoalTradeDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="RSS" type="ecc:RSSType" />
                            <xsd:element name="Origin" type="ecc:ScotaOriginType" />
                            <xsd:element name="Incoterms" type="ecc:IncotermsType" />
                            <xsd:element name="Tolerance" type="ecc:QuantityType" />
                            <xsd:element name="USCoalProduct" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="BTUQualityAdjustments" type="ecc:BTUQualityAdjustmentType" />
                                        <xsd:element name="SO2QualityAdjustments" type="ecc:SO2QualityAdjustmentType" />
                                        <xsd:element name="QVA" type="ecc:TrueFalseType" />
                                        <xsd:element name="TransportationEquipment" type="ecc:EquipmentType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                        </xsd:sequence>

                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="PhysicalOilTradeDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Type" type="ecc:ProductType" />
                            <xsd:element name="Grade" type="ecc:ProductGradeType" />
                            <xsd:element name="Incoterms" type="ecc:IncotermsType" />
                            <xsd:element name="ImporterOfRecord" type="ecc:PartyType" minOccurs="0" />
                            <xsd:choice>
                                <xsd:element name="AbsoluteTolerance">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="PositiveLimit" type="ecc:QuantityType" />
                                            <xsd:element name="NegativeLimit" type="ecc:QuantityType" />
                                            <xsd:element name="ToleranceUoM" type="ecc:UnitOfMeasureType" />
                                            <xsd:element name="ToleranceOptionOwner" type="ecc:PartyType" />
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="PercentageTolerance">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="PositiveLimit" type="ecc:QuantityType" />
                                            <xsd:element name="NegativeLimit" type="ecc:QuantityType" />
                                            <xsd:element name="ToleranceOptionOwner" type="ecc:PartyType" />
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:choice>
                            <xsd:element name="PipelineDetails" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="PipelineName" type="ecc:PipelineNameType" />
                                        <xsd:element name="EntryPoint" type="ecc:DeliveryPointAreaType" />
                                        <xsd:element name="DeliverableByBarge" type="ecc:TrueFalseType" />
                                        <xsd:element name="Incoterms" type="ecc:IncotermsType" />
                                        <xsd:element name="PipelineCycles" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="PipelineCycle" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="Cycle" type="ecc:CycleType" />
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="USElectricityTradeDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Type" type="ecc:ProductType" />
                            <xsd:element name="Voltage" type="ecc:QuantityType" />
                            <xsd:element name="DeliveryType" type="ecc:DeliveryTypeType" />
                            <xsd:choice>
                                <xsd:element name="ContingencyDetails">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="Contingency" type="ecc:DeliveryContingencyType" />
                                            <xsd:element name="ContingentParty" type="ecc:PartyType" />
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ElectingPartyDetails">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="ElectingParty" type="ecc:PartyType" />
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:choice>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="PhysicalBullionTradeDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Type" type="ecc:ProductType" />
                            <xsd:element name="BullionType" type="ecc:BullionType" />
                            <xsd:element name="SettlementDisruption" type="ecc:SettlementDisruptionType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="PhysicalMetalTradeDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Type" type="ecc:ProductType" />
                            <xsd:element name="MetalMaterial" type="ecc:MetalMaterialType" />
                            <xsd:element name="MetalGrade" type="ecc:ProductGradeType" />
                            <xsd:element name="SettlementDisruption" type="ecc:SettlementDisruptionType" />
                            <xsd:element name="Incoterms" type="ecc:IncotermsType" />
                            <xsd:element name="TitleConditions" type="ecc:TitleConditionsType" />
                            <xsd:element name="Tolerance" type="ecc:QuantityType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="HubCodificationInformation" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="BuyerHubCode" type="ecc:IdentificationType" />
                            <xsd:element name="SellerHubCode" type="ecc:IdentificationType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="AccountAndChargeInformation" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="SellerEnergyAccountIdentification" type="ecc:IdentificationType" />
                            <xsd:element name="BuyerEnergyAccountIdentification" type="ecc:IdentificationType" />
                            <xsd:element name="NotificationAgent" type="ecc:PartyType" minOccurs="0" />
                            <xsd:element name="TransmissionChargeIdentification" type="ecc:IdentificationType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="OptionDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="OptionsType" type="ecc:OptionType" />
                            <xsd:element name="OptionWriter" type="ecc:PartyType" />
                            <xsd:element name="OptionHolder" type="ecc:PartyType" />
                            <xsd:element name="OptionStyle" type="ecc:OptionStyleType" />
                            <xsd:element name="StrikePrice" type="ecc:PriceType" minOccurs="1" />
                            <xsd:element name="IndexStrikePriceStyle" type="ecc:IndexStrikePriceStyleType" minOccurs="0" />
                            <xsd:element name="SecondStrikePrice" type="ecc:PriceType" minOccurs="0" />
                            <xsd:element name="CappedPrice" type="ecc:PriceType" minOccurs="0" />
                            <xsd:element name="FlooredPrice" type="ecc:PriceType" minOccurs="0" />
                            <xsd:element name="OptionCurrency" type="ecc:CurrencyCodeType" minOccurs="0" />
                            <xsd:element name="PremiumRate" type="ecc:PriceType" minOccurs="0" />
                            <xsd:element name="PremiumCurrency" type="ecc:CurrencyCodeType" />
                            <xsd:element name="PremiumUnit" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Currency" type="ecc:CurrencyCodeType" />
                                        <xsd:element name="Capacity" type="ecc:UnitOfMeasureType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="TotalPremiumValue" type="ecc:PriceType" />
                            <xsd:element name="PremiumPaymentDate" type="ecc:DateType" minOccurs="0" />
                            <xsd:element name="ExerciseDateTime" type="ecc:ClockDateTimeType" minOccurs="0" />
                            <xsd:element name="AutomaticExercise" type="ecc:TrueFalseType" minOccurs="0" />
                            <xsd:element name="EarlyExercise" type="ecc:TrueFalseType" minOccurs="0" />
                            <xsd:element name="WrittenConfirmationOfExercise" type="ecc:TrueFalseType" minOccurs="0" />
                            <xsd:element name="CashSettlement" type="ecc:TrueFalseType" minOccurs="0" />
                            <xsd:element name="PremiumPayments" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="PremiumPayment" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="PremiumPaymentDate" type="ecc:DateType" />
                                                    <xsd:element name="PremiumPaymentValue" type="ecc:PriceType" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ExerciseSchedule" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Exercise" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="DeliveryStartDateTime" type="ecc:ClockDateTimeType"
                                                        minOccurs="0" />
                                                    <xsd:element name="DeliveryEndDateTime" type="ecc:ClockDateTimeType"
                                                        minOccurs="0" />
                                                    <xsd:element name="ExerciseDateTime" type="ecc:ClockDateTimeType" minOccurs="1" />
                                                    <xsd:element name="ExerciseTimeZone" type="ecc:TimeZoneOffsetType"
                                                        minOccurs="0" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="DeliveryPeriods" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="DeliveryPeriod" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="DeliveryPeriodStartDate" type="ecc:DateType" />
                                        <xsd:element name="DeliveryPeriodEndDate" type="ecc:DateType" />
                                        <xsd:element name="DeliveryPeriodNotionalQuantity" type="ecc:QuantityType" />
                                        <xsd:element name="PaymentDate" type="ecc:DateType" />
                                        <xsd:element name="FixedPrice" type="ecc:PriceType" minOccurs="0" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Agents" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Agent" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="AgentType" type="ecc:AgentType" />
                                        <xsd:element name="AgentName" type="ecc:NameType" minOccurs="0" />
                                        <xsd:choice>
                                            <xsd:element name="Broker">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="BrokerID" type="ecc:PartyType" />
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="ECVNA">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="BSCPartyID" type="ecc:BSCPartyIDType" />
                                                        <xsd:element name="BuyerEnergyAccount" type="ecc:EnergyAccountType" />
                                                        <xsd:element name="SellerEnergyAccount" type="ecc:EnergyAccountType" />
                                                        <xsd:element name="SellerID" type="ecc:BSCPartyIDType" />
                                                        <xsd:element name="BuyerID" type="ecc:BSCPartyIDType" />
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:choice>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="TradeTime" type="ecc:TimeType" minOccurs="0" />
                <xsd:element name="TraderName" type="ecc:NameType" minOccurs="0" />
            </xsd:sequence>
        </xsd:sequence>
    </xsd:group>
</xsd:schema>