v5.3.0/ERR-FXT-V3R0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 3.0-2017-03-03 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecc="http://www.efet.org/schemas/eCM/V4R3/EFET-CoreCmpts-V4R3.xsd"
    xmlns:err="http://www.efet.org/schemas/eRR/V3R0" elementFormDefault="qualified">
　
    <xsd:import namespace="http://www.efet.org/schemas/eCM/V4R3/EFET-CoreCmpts-V4R3.xsd" schemaLocation="EFET-CoreCmpts-V4R3.xsd" />
    <xsd:import namespace="http://www.efet.org/schemas/eRR/V3R0" schemaLocation="ERR-CoreCmpts-V3R0.xsd" />
    <xsd:include schemaLocation="EFET-CoreElements-V4R3.xsd" />
　
    <xsd:element name="FXTradeDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="DocumentHeader" />
                <xsd:element name="DocumentVersion" type="ecc:VersionType" />
                <xsd:element name="TradeID" type="err:TradeIDType" minOccurs="0" />
                <xsd:element name="TransactionType" type="err:FXTransactionType" />
                <xsd:element name="FXProduct" type="err:FXProductType" />
                <xsd:element name="BuyerParty" type="ecc:PartyType" />
                <xsd:element name="SellerParty" type="ecc:PartyType" />
                <xsd:element name="Agreement" type="ecc:AgreementType" />
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element name="TradeDate" type="ecc:DateType" />
                        <xsd:element name="TradeTime" type="ecc:TimeType" minOccurs="0" />
                    </xsd:sequence>
                    <xsd:element name="TradeExecutionTimestamp" type="ecc:UTCOffsetTimestampType" />
                </xsd:choice>
                <xsd:element name="TraderName" type="ecc:NameType" minOccurs="0" />
                <xsd:element name="Agents" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Agent" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="AgentType" type="ecc:AgentType" />
                                        <xsd:element name="AgentName" type="ecc:NameType" minOccurs="0" />
                                        <xsd:element name="BrokerID" type="ecc:PartyType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="FXSingleLeg" minOccurs="0" maxOccurs="2">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ExchangedCurrency" minOccurs="2" maxOccurs="2">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="PayerParty" type="ecc:PartyType" />
                                        <xsd:element name="ReceiverParty" type="ecc:PartyType" />
                                        <xsd:element name="PaymentCurrency" type="ecc:CurrencyCodeType" />
                                        <xsd:element name="PaymentAmount" type="ecc:PriceType" />
                                        <xsd:element name="ValueDate" type="ecc:DateType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ExchangedRate" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Currency1" type="ecc:CurrencyCodeType" />
                                        <xsd:element name="Currency2" type="ecc:CurrencyCodeType" />
                                        <xsd:element name="QuoteBasis" type="err:QuoteBasisType" />
                                        <xsd:element name="SpotRate" type="ecc:PriceType" />
                                        <xsd:element name="ForwardPoints" type="ecc:QuantityType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="NonDeliverableSettlement" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="SettlementCurrency" type="ecc:CurrencyCodeType" />
                                        <xsd:element name="SettlementDate" type="ecc:DateType" />
                                        <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                        <xsd:element name="Fixing" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Currency1" type="ecc:CurrencyCodeType" />
                                                    <xsd:element name="Currency2" type="ecc:CurrencyCodeType" />
                                                    <xsd:element name="QuoteBasis" type="err:QuoteBasisType" />
                                                    <xsd:element name="FixingDate" type="ecc:DateType" minOccurs="0" />
                                                    <xsd:element name="FXSpotRateSource" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="PrimaryRateSource" type="err:FXReferenceType" />
                                                                <xsd:element name="RateSourcePage" type="err:FXRateSourcePageType"
                                                                    minOccurs="0" />
                                                                <xsd:element name="RateSourcePageHeading" type="err:FXRateSourcePageHeadingType"
                                                                    minOccurs="0" />
                                                                <xsd:element name="FixingTime" type="ecc:UTCTimestampType"
                                                                    minOccurs="0" />
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="FXOption" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="OptionWriter" type="ecc:PartyType" />
                            <xsd:element name="OptionHolder" type="ecc:PartyType" />
                            <xsd:element name="OptionType" type="ecc:OptionType" />
                            <xsd:element name="EffectiveDate" type="ecc:DateType" />
                            <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                            <xsd:element name="PutCurrencyAmount">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Currency" type="ecc:CurrencyCodeType" />
                                        <xsd:element name="Amount" type="ecc:PriceType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="CallCurrencyAmount">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Currency" type="ecc:CurrencyCodeType" />
                                        <xsd:element name="Amount" type="ecc:PriceType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Strike">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="FXRate" type="ecc:QuantityType" />
                                        <xsd:element name="QuoteBasis" type="err:QuoteBasisType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="PremiumPayments">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="PremiumPayment" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="PremiumPaymentDate" type="ecc:DateType" />
                                                    <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                                    <xsd:element name="PremiumCurrency" type="ecc:CurrencyCodeType" />
                                                    <xsd:element name="PremiumPaymentValue" type="ecc:PriceType" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="CashSettlement" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="SettlementCurrency" type="ecc:CurrencyCodeType" />
                                        <xsd:element name="SettlementDate" type="ecc:DateType" />
                                        <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                        <xsd:element name="Fixing" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Currency1" type="ecc:CurrencyCodeType" />
                                                    <xsd:element name="Currency2" type="ecc:CurrencyCodeType" />
                                                    <xsd:element name="QuoteBasis" type="err:QuoteBasisType" />
                                                    <xsd:element name="FixingDate" type="ecc:DateType" minOccurs="0" />
                                                    <xsd:element name="FXSpotRateSource" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="PrimaryRateSource" type="err:FXReferenceType" />
                                                                <xsd:element name="RateSourcePage" type="err:FXRateSourcePageType"
                                                                    minOccurs="0" />
                                                                <xsd:element name="RateSourcePageHeading" type="err:FXRateSourcePageHeadingType"
                                                                    minOccurs="0" />
                                                                <xsd:element name="FixingTime" type="ecc:UTCTimestampType"
                                                                    minOccurs="0" />
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="FXExerciseSchedule">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="OptionStyle" type="ecc:OptionStyleType" />
                                        <xsd:choice>
                                            <xsd:element name="ExpiryDate" type="ecc:DateType" />
                                            <xsd:element name="ExpiryDateAndTime" type="ecc:UTCTimestampType" />
                                        </xsd:choice>
                                        <xsd:element name="CutName" type="ecc:IdentificationType" minOccurs="0" />
                                        <xsd:element name="ValueDate" type="ecc:DateType" />
                                        <xsd:element name="AmericanOptionDetails" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="CommencementDate" type="ecc:DateType" />
                                                    <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                                    <xsd:element name="MinimumNotionalAmount" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="Currency" type="ecc:CurrencyCodeType" />
                                                                <xsd:element name="Amount" type="ecc:PriceType" />
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="MaximumNotionalAmount" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="Currency" type="ecc:CurrencyCodeType" />
                                                                <xsd:element name="Amount" type="ecc:PriceType" />
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
