schema/ERR-CoreElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 3.0-2017-03-03 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecc="http://www.efet.org/schemas/eCM/V4R3/EFET-CoreCmpts-V4R3.xsd"
    xmlns:err="http://www.efet.org/schemas/eRR/V3R0" elementFormDefault="qualified">
　
    <xsd:import namespace="http://www.efet.org/schemas/eCM/V4R3/EFET-CoreCmpts-V4R3.xsd" schemaLocation="EFET-CoreCmpts-V4R3.xsd" />
    <xsd:import namespace="http://www.efet.org/schemas/eRR/V3R0" schemaLocation="ERR-CoreCmpts-V3R0.xsd" />
　
    <!-- ================================================================== -->
　
    <xsd:element name="CMSResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Action" type="err:s35" />
                <xsd:element name="Result" type="err:s35" />
                <xsd:element name="TradeID" type="err:TradeIDType" minOccurs="0" />
                <xsd:element name="UTI" type="ecc:UTIType" minOccurs="0" />
                <xsd:element name="Reason" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:group ref="ErrorReason" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
    <!-- ================================================================== -->
　
    <xsd:element name="DoddFrank">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReportMode" type="err:ReportModeType" />
                <xsd:element name="CreationTimestamp" type="ecc:UTCTimestampType" />
                <xsd:element name="TradeID" type="err:TradeIDType" />
                <xsd:element name="ReportingParty" type="ecc:PartyType" minOccurs="0" />
                <xsd:element name="UniqueSwapIdentifier" type="ecc:USIType" minOccurs="0" />
                <xsd:element name="PriorUniqueSwapIdentifiers" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="PriorUniqueSwapIdentifier" type="ecc:USIType" maxOccurs="4" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="DFTradeEvent" type="err:DFTradeEventType" />
                <xsd:element name="PrimaryAssetClass" type="ecc:AssetClassType" />
                <xsd:element name="SecondaryAssetClass" type="ecc:AssetClassType" />
                <xsd:element name="SuppressPriceDissemination" type="err:SuppressPriceDisseminationType" minOccurs="0" />
                <xsd:element name="AllocationIndicator" type="err:AllocationIndicatorType" minOccurs="0" />
                <xsd:element name="ExecutionVenue" type="err:ExecutionVenueType" />
                <xsd:element name="ExecutionVenuePrefix" type="err:s80" minOccurs="0" />
                <xsd:element name="ExecutionVenuePartyID" type="err:s200" minOccurs="0" />
                <xsd:element name="ExecutionTimeStamp" type="ecc:UTCTimestampType" />
                <xsd:element name="ProductIDPrefix" type="err:ProductIDPrefixType" />
                <xsd:element name="ProductIDValue" type="err:s200" />
                <xsd:element name="ClearingExceptionParty" type="err:s200" minOccurs="0" />
                <xsd:element name="HedgingExemption" type="ecc:HedgingExemptionType" minOccurs="0" />
                <xsd:element name="Nonstandard" type="xsd:boolean" />
                <xsd:element name="EmbeddedOption" type="xsd:boolean" />
                <xsd:element name="Collateralized" type="err:CollateralizedType" />
                <xsd:element name="Verification" type="err:VerificationType" />
                <xsd:element name="AsOfDate" type="ecc:DateType" minOccurs="0" />
                <xsd:element name="AsOfTime" type="ecc:TimeType" minOccurs="0" />
                <xsd:element name="LargeTradeSize" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="TransfereeParty" type="ecc:PartyType" minOccurs="0" />
                <xsd:element name="TransferorParty" type="ecc:PartyType" minOccurs="0" />
                <xsd:element name="RemainingParty" type="ecc:PartyType" minOccurs="0" />
                <xsd:element name="ReportingJurisdiction" type="err:ReportingJurisdictionType" minOccurs="0" />
                <xsd:element name="SenderReportingObligation" type="err:ReportingJurisdictionType" minOccurs="0" />
                <xsd:element name="SenderVoluntarySubmissionTrade" type="err:ReportingJurisdictionType" minOccurs="0" />
                <xsd:element name="IntentToClear" type="xsd:boolean" />
                <xsd:element name="IntentToMatch" type="xsd:boolean" />
                <xsd:element name="IntentToReport" type="xsd:boolean" />
                <xsd:element name="ExerciseOfSwaption" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="ResultOfCompression" type="xsd:boolean" minOccurs="0" />
                <xsd:element name="AdditionalRepository" type="ecc:AdditionalRepositoryType" minOccurs="0" />
                <xsd:element name="AdditionalRepositoryTradeID" type="ecc:USIType" minOccurs="0" />
                <xsd:element name="LinkID" type="err:s255" minOccurs="0" />
                <xsd:element name="Party2Parties" type="err:s200" minOccurs="0" />
                <xsd:element name="PostTradeEventExecutionDateTime" type="ecc:UTCTimestampType" minOccurs="0" />
                <xsd:element name="PostTradeEventChangeNumberOfUnits" type="ecc:QuantityType" minOccurs="0" />
                <xsd:element name="PostTradeEventFee" type="ecc:PriceType" minOccurs="0" />
                <xsd:element name="PostTradeEventFeeCurrency" type="ecc:CurrencyCodeType" minOccurs="0" />
                <xsd:element name="TradeParty1Role" type="err:s20" minOccurs="0" />
                <xsd:element name="TradeParty1USPersonIndicator" type="ecc:CountryCodeType" minOccurs="0" />
                <xsd:element name="TradeParty1FinancialEntityStatus" type="err:s70" minOccurs="0" />
                <xsd:element name="TradeParty2Role" type="err:s20" minOccurs="0" />
                <xsd:element name="TradeParty2USPersonIndicator" type="ecc:CountryCodeType" minOccurs="0" />
                <xsd:element name="TradeParty2FinancialEntityStatus" type="err:s70" minOccurs="0" />
                <xsd:element name="RealTimeNotionalAmount" type="ecc:PriceType" minOccurs="0" />
                <xsd:element name="RealTimeNotionalAmountCurrency" type="ecc:CurrencyCodeType" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
    <xsd:element name="DoddFrankResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ErrAction" type="err:s35" />
                <xsd:element name="ErrResult" type="err:s35" />
                <xsd:element name="TradeID" type="err:TradeIDType" minOccurs="0" />
                <xsd:element name="ReportingParty" type="ecc:PartyType" minOccurs="0" />
                <xsd:element name="UniqueSwapIdentifier" type="ecc:USIType" minOccurs="0" />
                <xsd:element name="ReportingDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ReportSubmitter" type="ecc:PartyType" />
                            <xsd:element name="ReportingTimestamp" type="ecc:UTCTimestampType" />
                            <xsd:element name="SdrAction" type="err:ActionType" />
                            <xsd:element name="MessageType" type="err:MessageType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:choice>
                    <xsd:element name="Reason" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:group ref="ErrorReason" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <!-- ValuationFeedback will be filled if -->
                    <xsd:element name="ValuationFeedback" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ValuationID" type="ecc:IdentificationType" />
                                <xsd:element name="UniqueSwapIdentifier" type="ecc:USIType" minOccurs="0" />
                                <xsd:element name="State" type="err:s35" />
                                <xsd:element name="Reason" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:group ref="ErrorReason" />
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
    <!-- ================================================================== -->
　
    <xsd:element name="Europe">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessInformation">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ReportingRole" type="err:ReportingRoleType" />
                            <xsd:element name="EMIRReportMode" type="err:ReportModeType" />
                            <xsd:element name="REMITReportMode" type="err:ReportModeType" />
                            <xsd:element name="Position" type="ecc:TrueFalseType" minOccurs="0" />
                            <xsd:element name="Backload" type="ecc:TrueFalseType" />
                            <xsd:element name="Execution" type="ecc:TrueFalseType" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Action">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ActionType" type="err:ActionTypeType" />
                            <xsd:element name="ActionDetail" type="err:ActionDetailType" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="EURegulatoryDetails" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
    <xsd:element name="EuropeResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Action" type="err:s35" />
                <xsd:element name="Result" type="err:s35" />
                <xsd:element name="CounterpartyID" type="ecc:PartyType" minOccurs="0" />
                <xsd:element name="Regime" type="err:EuropeRegimeType" minOccurs="0" />
                <xsd:element name="Repository" type="err:RepositoryType" minOccurs="0" />
                <xsd:element name="ReportingResult" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="TradeID" type="err:TradeIDType" />
                            <xsd:element name="UTI" type="ecc:UTIType" minOccurs="0" />
                            <xsd:element name="Reason" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="ErrorReason" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ValuationResult" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Valuation" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="UTI" type="ecc:UTIType" />
                                        <xsd:element name="Result" type="err:s255" />
                                        <xsd:element name="Reason" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:group ref="ErrorReason" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CollateralResult" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Collateral" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="UTI" type="ecc:UTIType" minOccurs="0" />
                                        <xsd:element name="PortfolioCode" type="err:PortfolioCodeType" minOccurs="0" />
                                        <xsd:element name="Result" type="err:s255" />
                                        <xsd:element name="Reason" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:group ref="ErrorReason" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
    <!-- ================================================================== -->
　
    <xsd:element name="ODRF">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReportMode" type="err:ReportModeType" />
                <xsd:element name="CreationTimestamp" type="ecc:UTCTimestampType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
    <xsd:element name="ODRFResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Action" type="err:s35" />
                <xsd:element name="Result" type="err:s35" />
                <xsd:element name="ErrAction" type="err:s35" />
                <xsd:element name="ErrResult" type="err:s35" />
                <xsd:element name="TradeID" type="err:TradeIDType" />
                <xsd:element name="ReportingParty" type="ecc:PartyType" minOccurs="0" />
                <xsd:element name="UniqueSwapIdentifier" type="ecc:USIType" minOccurs="0" />
                <xsd:element name="ReportingDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ReportSubmitter" type="ecc:PartyType" />
                            <xsd:element name="ReportingTimestamp" type="ecc:UTCTimestampType" />
                            <xsd:element name="SdrAction" type="err:ActionType" />
                            <xsd:element name="MessageType" type="err:MessageType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:choice>
                    <xsd:element name="Reason" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:group ref="ErrorReason" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <!-- ValuationFeedback will be filled if -->
                    <xsd:element name="ValuationFeedback" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ValuationID" type="ecc:IdentificationType" />
                                <xsd:element name="UniqueSwapIdentifier" type="ecc:USIType" minOccurs="0" />
                                <xsd:element name="State" type="err:s35" />
                                <xsd:element name="Reason" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:group ref="ErrorReason" />
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
    <xsd:element name="Confirmation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ServiceMode" type="err:ServiceMode" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
    <xsd:group name="ErrorReason">
        <xsd:sequence>
            <xsd:element name="ReasonCode" type="err:s255" />
            <xsd:element name="ErrorSource" type="err:s255" minOccurs="0" />
            <xsd:element name="Originator" type="err:s255" minOccurs="0" />
            <xsd:element name="ReasonText" type="err:s512" minOccurs="0" />
        </xsd:sequence>
    </xsd:group>
　
    <xsd:element name="EURegulatoryDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UTI" type="ecc:UTIType" minOccurs="0" />
                <xsd:element name="Repository" type="err:RepositoryType" minOccurs="0" />
                <xsd:element name="ReportingTimestamp" type="ecc:UTCTimestampType" minOccurs="0" />
                <xsd:element name="CPIDCodeType" type="err:CPIDCodeTypeType" minOccurs="0" />
                <xsd:element name="TraderUserName" type="ecc:NameType" minOccurs="0" />
                <xsd:element name="ReportingCounterpartyDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="CPName" type="err:CPNameType" />
                            <xsd:element name="CPDomicile" type="err:CPDomicileType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="CPFinancialNature" type="err:CPFinancialNatureType" minOccurs="0" />
                <xsd:element name="CPSector" type="err:CorporateSectorType" minOccurs="0" />
                <xsd:element name="BeneficiaryID" type="ecc:PartyType" minOccurs="0" />
                <xsd:element name="TradingCapacity" type="err:TradingCapacityType" minOccurs="0" />
                <xsd:element name="OtherCPEEA" type="ecc:TrueFalseType" minOccurs="0" />
                <xsd:element name="CommercialOrTreasury" type="ecc:TrueFalseType" minOccurs="0" />
                <xsd:element name="ClearingThreshold" type="ecc:TrueFalseType" minOccurs="0" />
                <xsd:element name="Collateralisation" type="err:CollateralisationType" minOccurs="0" />
                <xsd:element name="CollateralisationPortfolio" type="ecc:TrueFalseType" minOccurs="0" />
                <xsd:element name="CollateralisationPortfolioCode" type="err:PortfolioCodeType" minOccurs="0" />
                <xsd:element name="ReportingOnBehalfOf" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ActingOnBehalfOf" type="err:OnBehalfOfType" />
                            <xsd:element name="AgentID" type="ecc:PartyType" />
                            <xsd:element name="OtherCounterpartyDetails" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="TraderUserName" type="ecc:NameType" minOccurs="0" />
                                        <xsd:element name="ReportingCounterpartyDetails" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="CPName" type="err:CPNameType" />
                                                    <xsd:element name="CPDomicile" type="err:CPDomicileType" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="Repository" type="err:RepositoryType" minOccurs="0" />
                                        <xsd:element name="CPFinancialNature" type="err:CPFinancialNatureType" minOccurs="0" />
                                        <xsd:element name="CPSector" type="err:CorporateSectorType" minOccurs="0" />
                                        <xsd:element name="BeneficiaryID" type="ecc:PartyType" minOccurs="0" />
                                        <xsd:element name="TradingCapacity" type="err:TradingCapacityType" minOccurs="0" />
                                        <xsd:element name="OtherCPEEA" type="ecc:TrueFalseType" minOccurs="0" />
                                        <xsd:element name="CommercialOrTreasury" type="ecc:TrueFalseType" minOccurs="0" />
                                        <xsd:element name="ClearingThreshold" type="ecc:TrueFalseType" minOccurs="0" />
                                        <xsd:element name="Collateralisation" type="err:CollateralisationType" minOccurs="0" />
                                        <xsd:element name="CollateralisationPortfolio" type="ecc:TrueFalseType" minOccurs="0" />
                                        <xsd:element name="CollateralisationPortfolioCode" type="err:PortfolioCodeType"
                                            minOccurs="0" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ProductIdentifier" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Taxonomy" type="err:TaxonomyType" minOccurs="0" />
                            <xsd:element name="TaxonomyCodeType" type="err:TaxonomyCodeType" minOccurs="0" />
                            <xsd:element name="EProduct" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="EProductID1" type="err:EProduct1CodeType" />
                                        <xsd:element name="Product1CodeType" type="err:TaxonomyCodeType" minOccurs="0" />
                                        <xsd:element name="EProductID2" type="err:EProduct2CodeType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="IProduct" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="IProductID1" type="err:IProduct1CodeType" />
                                        <xsd:element name="Product1CodeType" type="err:TaxonomyCodeType" minOccurs="0" />
                                        <xsd:element name="IProductID2" type="err:IProduct2CodeType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ContractType" type="err:ContractTypeType" minOccurs="0" />
                <xsd:element name="UnderlyingCodeType" type="err:UnderlyingCodeTypeType" minOccurs="0" />
                <xsd:element name="LinkedTransactionInformation" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="LinkedTransactionID" type="ecc:UTIType" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="TradeID" type="err:TradeIDType" />
                <xsd:element name="VenueOfExecution" type="err:VenueOfExecutionType" />
                <xsd:element name="Compression" type="ecc:TrueFalseType" minOccurs="0" />
                <xsd:sequence minOccurs="0">
                    <xsd:element name="UpFrontPayment" type="ecc:PriceType" />
                    <xsd:element name="UpFrontPaymentCurrency" type="ecc:CurrencyCodeType" />
                </xsd:sequence>
                <xsd:element name="ExecutionTimestamp" type="ecc:UTCTimestampType" minOccurs="0" />
                <xsd:element name="MasterAgreementVersion" type="err:MasterAgreementVersionType" minOccurs="0" />
                <xsd:element name="ClearingObligation" type="ecc:TrueFalseType" minOccurs="0" />
                <xsd:element name="Intragroup" type="ecc:TrueFalseType" />
                <xsd:element name="LoadType" type="err:LoadTypeType" minOccurs="0" />
                <xsd:element name="ConfirmationMeans" type="err:ConfirmationMeansType" />
                <xsd:element name="ConfirmationTimestamp" type="ecc:UTCTimestampType" minOccurs="0" />
                <xsd:element name="NotionalAmount" type="ecc:QuantityType" minOccurs="0" />
                <xsd:element name="EarlyTerminationDate" type="ecc:DateType" minOccurs="0" />
                <xsd:element name="IndexValue" type="ecc:QuantityType" minOccurs="0" />
                <xsd:element name="SettlementDates" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="DateOfSettlement" type="ecc:DateType" maxOccurs="unbounded" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ETDProductInformation" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Underlying" type="err:UnderlyingType" minOccurs="0" />
                            <xsd:element name="NotionalCurrency1" type="ecc:CurrencyCodeType" />
                            <xsd:element name="NotionalCurrency2" type="ecc:CurrencyCodeType" minOccurs="0" />
                            <xsd:element name="DeliverableCurrency" type="ecc:CurrencyCodeType" />
                            <xsd:element name="PriceNotation" type="err:PriceNotationType" />
                            <xsd:element name="PriceMultiplier" type="ecc:QuantityType" />
                            <xsd:element name="TotalVolumeQuantityUnit" type="ecc:UnitOfMeasureType" minOccurs="0" />
                            <xsd:element name="DeliveryType" type="err:SettlementType" />
                            <xsd:element name="EffectiveDate" type="ecc:DateType" />
                            <xsd:element name="MaturityDate" type="ecc:DateType" />
                            <xsd:element name="CommodityBase" type="err:CommodityBaseType" minOccurs="0" />
                            <xsd:element name="CommodityDetail" type="err:CommodityDetailType" minOccurs="0" />
                            <xsd:element name="DeliveryPointOrZone" type="ecc:AreaType" minOccurs="0" />
                            <xsd:element name="InterconnectionPoint" type="ecc:AreaType" minOccurs="0" />
                            <xsd:element name="LoadType" type="err:LoadTypeType" minOccurs="0" />
                            <xsd:element name="ContractCapacity" type="ecc:QuantityType" minOccurs="0" />
                            <xsd:element name="EnergyQuantityUnit" type="ecc:UnitOfMeasureType" minOccurs="0" />
                            <xsd:element name="DeliveryStartDateAndTime" type="ecc:UTCTimestampType" minOccurs="0" />
                            <xsd:element name="DeliveryEndDateAndTime" type="ecc:UTCTimestampType" minOccurs="0" />
                            <xsd:element name="Currency2" type="ecc:CurrencyCodeType" minOccurs="0" />
                            <xsd:element name="ExchangeRate1" type="ecc:PriceType" minOccurs="0" />
                            <xsd:element name="ExchangeRateBasis" type="err:QuoteBasisType" minOccurs="0" />
                            <xsd:element name="FixedRateOfLeg2" type="ecc:QuantityType" minOccurs="0" />
                            <xsd:element name="FixedRateDayCount" type="err:DayCountFractionType" minOccurs="0" />
                            <xsd:element name="FixedLegPaymentFrequency" type="err:FrequencyPeriodType" minOccurs="0" />
                            <xsd:element name="FloatingRatePaymentFrequency" type="err:FrequencyPeriodType" minOccurs="0" />
                            <xsd:element name="FloatingRateResetFrequency" type="err:FrequencyPeriodType" minOccurs="0" />
                            <xsd:element name="FloatingRateOfLeg1" type="err:RateIndexType" minOccurs="0" />
                            <xsd:element name="FloatingRateOfLeg2" type="err:RateIndexType" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="FormulaProductInformation" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Underlying" type="err:UnderlyingType" minOccurs="0" />
                            <xsd:element name="CommodityBase" type="err:CommodityBaseType" />
                            <xsd:element name="CommodityDetail" type="err:CommodityDetailType" />
                            <xsd:element name="IndexCurrencyUnit" type="ecc:CurrencyCodeType" minOccurs="0" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="FinancialDeliveryInformation" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="DeliveryPointOrZone" type="ecc:AreaType" maxOccurs="unbounded" />
                            <xsd:element name="InterconnectionPoint" type="ecc:AreaType" minOccurs="0" />
                            <xsd:element name="QuantityVolume" type="ecc:QuantityType" />
                            <xsd:element name="QuantityVolumeUnit" type="ecc:UnitOfMeasureType" />
                            <xsd:element name="DeliveryStartDateAndTime" type="ecc:ClockDateTimeType" />
                            <xsd:element name="DeliveryEndDateAndTime" type="ecc:ClockDateTimeType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
　
</xsd:schema>
