v5.3.1-draft/EFET-CoreCmpts-V4R2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecc="http://www.efet.org/schemas/eCM/V4R2/EFET-CoreCmpts-V4R2.xsd"
    elementFormDefault="qualified" targetNamespace="http://www.efet.org/schemas/eCM/V4R2/EFET-CoreCmpts-V4R2.xsd">
    
    <!-- Base Types -->
    <simpleType name="ClockDateTimeType">
        <annotation>
            <documentation>
                Definition: Date and time value that explicitly does not use a time zone indication (and also not the UTC
                indicator). The format is: YYYY-MM-DDTHH:MM:SS
            </documentation>
        </annotation>
        <restriction base="dateTime">
            <pattern value="20..-..-..T..:..:.." />
        </restriction>
    </simpleType>
    <simpleType name="DateType">
        <restriction base="date">
            <pattern value="....-..-.." />
        </restriction>
    </simpleType>
    <simpleType name="s3">
        <restriction base="string">
            <maxLength value="3" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s5">
        <restriction base="string">
            <maxLength value="5" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s8">
        <restriction base="string">
            <maxLength value="8" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s16">
        <restriction base="string">
            <maxLength value="16" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s20">
        <restriction base="string">
            <maxLength value="20" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s30">
        <restriction base="string">
            <maxLength value="30" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s32">
        <restriction base="string">
            <maxLength value="32" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s35">
        <restriction base="string">
            <maxLength value="35" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s40">
        <restriction base="string">
            <maxLength value="40" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s42">
        <restriction base="string">
            <maxLength value="42" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s50">
        <restriction base="string">
            <maxLength value="50" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s52">
        <restriction base="string">
            <maxLength value="52" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s80">
        <restriction base="string">
            <maxLength value="80" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s100">
        <restriction base="string">
            <maxLength value="100" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s200">
        <restriction base="string">
            <maxLength value="200" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s255">
        <restriction base="string">
            <maxLength value="255" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="s512">
        <restriction base="string">
            <maxLength value="512" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>
    <simpleType name="TimeType">
        <restriction base="time">
            <pattern value="..:..:..Z?" />
        </restriction>
    </simpleType>
    <simpleType name="DateTimeType">
        <union>
            <simpleType>
                <restriction base="dateTime" />
            </simpleType>
            <simpleType>
                <restriction base="ecc:DateType" />
            </simpleType>
        </union>
    </simpleType>
    <simpleType name="TrueFalseType">
        <restriction base="NMTOKEN">
            <enumeration value="true" />
            <enumeration value="false" />
        </restriction>
    </simpleType>
    <simpleType name="UTCTimestampType">
        <restriction base="dateTime" />
    </simpleType>
    
    <!-- Business Types -->
    <complexType name="AdditionalRepositoryType">
        <simpleContent>
            <extension base="ecc:s200">
                <attribute name="Prefix" type="ecc:s80" use="required" />
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="AgentType">
        <restriction base="NMTOKEN">
            <enumeration value="Broker" />
            <enumeration value="ECVNA" />
            <enumeration value="ClearingBroker" />
            <enumeration value="SettlementAgent" />
        </restriction>
    </simpleType>
    <simpleType name="AgreementType">
        <restriction base="ecc:s35" />
    </simpleType>
    <simpleType name="AreaType">
        <restriction base="ecc:s16" />
    </simpleType>
    <simpleType name="AssetClassType">
        <restriction base="NMTOKEN">
            <enumeration value="Commodity" />
            <enumeration value="ForeignExchange" />
            <enumeration value="Equity" />
            <enumeration value="EquityBond" />
            <enumeration value="InterestRate" />
            <enumeration value="Credit" />
            <enumeration value="InterestRateODRF" />
        </restriction>
    </simpleType>
    <simpleType name="AttachmentMimeType">
        <restriction base="ecc:s32">
            <enumeration value="application/pdf" />
            <enumeration value="application/msword" />
            <enumeration value="application/excel" />
            <enumeration value="application/vnd.ms-excel" />
            <enumeration value="application/x-msexcel" />
            <enumeration value="application/x-excel" />
            <enumeration value="application/mspowerpoint" />
            <enumeration value="application/powerpoint" />
            <enumeration value="application/x-mspowerpoint" />
            <enumeration value="application/vnd.ms-powerpoint" />
            <enumeration value="image/gif" />
            <enumeration value="image/jpeg" />
            <enumeration value="image/pjpeg" />
            <enumeration value="image/png" />
            <enumeration value="image/tiff" />
            <enumeration value="image/x-tiff" />
            <enumeration value="text/csv" />
            <enumeration value="text/plain" />
            <enumeration value="text/xml" />
            <enumeration value="application/xml" />
            <enumeration value="application/zip" />
            <enumeration value="application/x-gzip" />
        </restriction>
    </simpleType>
    <simpleType name="FilenameType">
        <restriction base="ecc:s255" />
    </simpleType>

    <simpleType name="BrokerIDType">
        <restriction base="ecc:s5" />
    </simpleType>
    <simpleType name="BSCPartyIDType">
        <restriction base="ecc:s255" />
    </simpleType>
    <simpleType name="BTUQualityAdjustmentType">
        <restriction base="ecc:s255" />
    </simpleType>

    <simpleType name="BullionType">
        <restriction base="NMTOKEN">
            <enumeration value="Gold" />
            <enumeration value="Palladium" />
            <enumeration value="Platinum" />
            <enumeration value="Silver" />
            <enumeration value="RhodiumSponge" />
        </restriction>
    </simpleType>

    <simpleType name="CommonPricingType">
        <restriction base="ecc:TrueFalseType" />
    </simpleType>
    <simpleType name="ContractType">
        <annotation>
            <documentation>
                Uid: ET0010
                Definition: (synonyme EFET Load-Type) The contract type defines the conditions under which the
                capacity is allocated and handled. EG: daily
                auction, weekly auction, monthly auction, yearly auction, etc. The significance
                of this type is dependent on area
                specific coded working methods
            </documentation>
        </annotation>
        <restriction base="NMTOKEN">
            <enumeration value="Base" />
            <enumeration value="Peak" />
            <enumeration value="OffPeak" />
            <enumeration value="Custom" />
        </restriction>
    </simpleType>
    <simpleType name="CountryCodeType">
        <annotation>
            <documentation>
                ISO 3166-1 2 alpha codes.
            </documentation>
        </annotation>
        <restriction base="NMTOKEN">
            <maxLength value="2" />
            <minLength value="2" />
        </restriction>
    </simpleType>
    <simpleType name="CurrencyCodeType">
        <annotation>
            <documentation>
                Uid: EF0003 Definition: The specification of a monetary
                unit respecting ISO 4217 3 alpha codes
            </documentation>
        </annotation>
        <restriction base="NMTOKEN">
            <maxLength value="3" />
            <minLength value="3" />
        </restriction>
    </simpleType>
    <complexType name="CurrencyCodeTypeWithFractionOption">
        <annotation>
            <documentation>Extends CurrencyCodeType by optional fraction unit attribute.</documentation>
        </annotation>
        <simpleContent>
            <extension base="ecc:CurrencyCodeType">
                <attribute name="UseFractionUnit" type="boolean" default="false" />
            </extension>
        </simpleContent>
    </complexType>

    <simpleType name="CycleType">
        <restriction base="ecc:s255" />
    </simpleType>
    <simpleType name="DeliveryContingencyType">
        <restriction base="ecc:s255" />
    </simpleType>
    <simpleType name="DeliveryPointAreaType">
        <restriction base="ecc:s255" />
    </simpleType>

    <simpleType name="DeliveryDateType">
        <restriction base="NMTOKEN">
            <enumeration value="Spot" />
            <enumeration value="First_Nearby" />
            <enumeration value="Second_Nearby" />
            <enumeration value="Third_Nearby" />
            <enumeration value="Sixth_Nearby" />
            <enumeration value="Twelfth_Nearby" />
            <enumeration value="First_Nearby_Including" />
            <enumeration value="Second_Nearby_Including" />
            <enumeration value="Third_Nearby_Including" />
            <enumeration value="Sixth_Nearby_Including" />
            <enumeration value="Twelfth_Nearby_Including" />
            <enumeration value="First_Nearby_Excluding" />
            <enumeration value="Second_Nearby_Excluding" />
            <enumeration value="Third_Nearby_Excluding" />
            <enumeration value="Sixth_Nearby_Excluding" />
            <enumeration value="Twelfth_Nearby_Excluding" />
            <enumeration value="Calculation_Period" />
            <enumeration value="Month_Ahead" />
            <enumeration value="Day_Ahead" />
            <enumeration value="Dated_Contract" />
        </restriction>
    </simpleType>
    <simpleType name="DeliveryTypeType">
        <restriction base="NMTOKEN">
            <enumeration value="firm" />
            <enumeration value="nonFirm" />
            <enumeration value="systemFirm" />
            <enumeration value="unitFirm" />
        </restriction>
    </simpleType>

    <simpleType name="DocumentType">
        <restriction base="NMTOKEN">
            <enumeration value="ACK" />
            <enumeration value="BCN" />
            <enumeration value="BFI" />
            <enumeration value="BMN" />
            <enumeration value="BRS" />
            <enumeration value="CAN" />
            <enumeration value="CNF" />
            <enumeration value="GNF" />
            <enumeration value="MSA" />
            <enumeration value="MSR" />
            <enumeration value="MSU" />
            <enumeration value="REJ" />
            <enumeration value="SCN" />
            <enumeration value="TUR" />
        </restriction>
    </simpleType>
    <simpleType name="DocumentDescriptionType">
        <restriction base="NMTOKEN">
            <enumeration value="CONFIRM" />
            <enumeration value="DRAFT" />
            <enumeration value="CREDIT_ANNEX" />
            <enumeration value="HISTORICAL" />
            <enumeration value="HISTORICALEXPIRED" />
        </restriction>
    </simpleType>

    <complexType name="DoddFrankType">
        <sequence>
            <element name="UniqueSwapIdentifier" type="ecc:USIType" form="unqualified" minOccurs="0" maxOccurs="1" />
            <element name="BlockUniqueSwapIdentifier" type="ecc:USIType" form="unqualified" minOccurs="0" maxOccurs="1" />
            <element name="ReportingParty" type="ecc:PartyType" form="unqualified" minOccurs="0" maxOccurs="1" />
            <element name="AdditionalRepository" type="ecc:AdditionalRepositoryType" form="unqualified" minOccurs="0" maxOccurs="1" />
            <element name="HedgingExemptionType" type="ecc:HedgingExemptionType" form="unqualified" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>
    <simpleType name="EnergyAccountType">
        <restriction base="NMTOKEN">
            <enumeration value="Production" />
            <enumeration value="Consumption" />
        </restriction>
    </simpleType>
    <simpleType name="EnergyProductType">
        <restriction base="NMTOKEN">
            <enumeration value="Power" />
            <enumeration value="Gas" />
            <enumeration value="Oil" />
            <enumeration value="Coal" />
            <enumeration value="Bullion" />
            <enumeration value="Metal" />
            <enumeration value="Agriculturals" />
            <enumeration value="Paper" />
            <enumeration value="ReactivePower" />
            <enumeration value="EUAPhase_1" />
            <enumeration value="EUAPhase_2" />
            <enumeration value="EUAPhase_3" />
            <enumeration value="CER" />
        </restriction>
    </simpleType>
    <simpleType name="EquipmentType">
        <restriction base="NMTOKEN">
            <enumeration value="Barge" />
            <enumeration value="Truck" />
            <enumeration value="Railcar" />
        </restriction>
    </simpleType>
    <simpleType name="EUAAccountCodeType">
        <restriction base="string">
            <pattern value="[A-Z]{2}-[0-9]{3}-[0-9]{3}([0-9]|-0)?" />
        </restriction>
    </simpleType>
     <complexType name="EUReporting">
        <sequence>
            <element name="UTI" type="ecc:UTIType" form="unqualified" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>
    <simpleType name="FXConversionMethodType">
        <restriction base="NMTOKEN">
            <enumeration value="Daily" />
            <enumeration value="Monthly" />
            <enumeration value="Mixed" />
        </restriction>
    </simpleType>
    <simpleType name="FXReferenceType">
        <restriction base="ecc:s255" />
    </simpleType>
    <simpleType name="HedgingExemptionType">
        <restriction base="NMTOKEN">
            <enumeration value="Bona_Fide_Hedge" />
            <enumeration value="Pass-Through_Swap" />
            <enumeration value="Anticipated_Production" />
            <enumeration value="Anticipated_Requirement" />
            <enumeration value="Anticipated_Merchandising" />
            <enumeration value="Anticipated_Royalty" />
            <enumeration value="Anticipated_Service" />
        </restriction>
    </simpleType>
    <simpleType name="IdentificationType">
        <restriction base="ecc:s255" />
    </simpleType>
    <simpleType name="IncotermsType">
        <annotation>
            <documentation>
                Delivery terms defined by the International Chamber of Commerce (ICC).
                Valid values are available from the ICC
                website (http://www.iccwbo.org/incoterms/id3040/index.html).
                The version of the Incoterms is as defined in the relevant
                master agreement for the contract.
            </documentation>
        </annotation>
        <restriction base="ecc:s3" />
    </simpleType>
    <simpleType name="IndexCommodityType">
        <restriction base="ecc:s30" />
    </simpleType>
    <simpleType name="IndexStrikePriceStyleType">
        <restriction base="NMTOKEN">
            <enumeration value="Index_Following" />
            <enumeration value="Index_Dated" />
        </restriction>
    </simpleType>
    <simpleType name="ISDACommodityDefinitionsType">
        <restriction base="ecc:s255" />
    </simpleType>
    <simpleType name="MatchFieldType">
        <restriction base="NMTOKEN">
            <enumeration value="tradeData" />
            <enumeration value="fee" />
        </restriction>
    </simpleType>
    <simpleType name="MetalMaterialType">
        <restriction base="NMTOKEN">
            <enumeration value="Aluminum-Primary" />
            <enumeration value="Cobalt" />
            <enumeration value="Copper" />
            <enumeration value="Lead" />
            <enumeration value="Molybdenum" />
            <enumeration value="NASAA" />
            <enumeration value="Nickel" />
            <enumeration value="Steel" />
            <enumeration value="Tin" />
            <enumeration value="Uranium" />
            <enumeration value="Zinc" />
            <enumeration value="Gold" />
        </restriction>
    </simpleType>

    <simpleType name="NameType">
        <annotation>
            <documentation>
                Uid: ET0016
                Definition: A word or combination of words constituting the individual designation by which a person,
                animal, place, or thing is known.
            </documentation>
        </annotation>
        <restriction base="ecc:s35" />
    </simpleType>
    <simpleType name="NotificationFieldType">
        <restriction base="NMTOKEN">
            <enumeration value="preliminary" />
            <enumeration value="final" />
            <enumeration value="reverse" />
        </restriction>
    </simpleType>
    <simpleType name="OptionStyleType">
        <restriction base="NMTOKEN">
            <enumeration value="American" />
            <enumeration value="European" />
            <enumeration value="Asian" />
            <enumeration value="Cap" />
            <enumeration value="Floor" />
            <enumeration value="Collar" />
            <enumeration value="Bermudan" />
        </restriction>
    </simpleType>
    <simpleType name="OptionType">
        <restriction base="NMTOKEN">
            <enumeration value="Call" />
            <enumeration value="Put" />
            <enumeration value="Capped_Call" />
            <enumeration value="Floored_Put" />
        </restriction>
    </simpleType>
    <simpleType name="PartyType">
        <restriction base="ecc:s20" />
    </simpleType>
    <simpleType name="PaymentEventType">
        <annotation>
            <documentation>
                Valid values are published on www.efet.org Static Data page but including for example:
                Schedule_Date, Trade_Date,
                Bill_of_Lading and others.
            </documentation>
        </annotation>
        <restriction base="ecc:s32" />
    </simpleType>

    <simpleType name="PipelineNameType">
        <restriction base="ecc:s255" />
    </simpleType>

    <simpleType name="PriceType">
        <restriction base="decimal" />
    </simpleType>
    <simpleType name="PricingDateType">
        <restriction base="NMTOKEN">
            <enumeration value="CBD" />
            <enumeration value="Monday" />
            <enumeration value="Tuesday" />
            <enumeration value="Wednesday" />
            <enumeration value="Thursday" />
            <enumeration value="Friday" />
            <enumeration value="Saturday" />
            <enumeration value="Sunday" />
            <enumeration value="Monthly" />
        </restriction>
    </simpleType>
    <simpleType name="ProcessFieldType">
        <restriction base="NMTOKEN">
            <enumeration value="withCp" />
            <enumeration value="withoutCp" />
        </restriction>
    </simpleType>
    <simpleType name="ProductType">
        <restriction base="ecc:s255" />
    </simpleType>

    <simpleType name="ProductNameType">
        <restriction base="ecc:s255" />
    </simpleType>


    <simpleType name="ProductGradeType">
        <restriction base="ecc:s255" />
    </simpleType>

    <simpleType name="QuantityType">
        <restriction base="decimal" />
    </simpleType>
    <simpleType name="ReasonCodeType">
        <restriction base="NMTOKEN">
            <enumeration value="XML:ValidationFailure" />
            <enumeration value="ebxml:ValueNotRecognized" />
            <enumeration value="ebxml:NotSupported" />
            <enumeration value="ebxml:Inconsistent" />
            <enumeration value="ebxml:OtherXML" />
            <enumeration value="ebxml:DeliveryFailure" />
            <enumeration value="ebxml:TimeToLiveExpired" />
            <enumeration value="ebxml:SecurityFailure" />
            <enumeration value="ebxml:MimeProblem" />
            <enumeration value="ebxml:Unknown" />
            <enumeration value="efet:InvalidData" />
            <enumeration value="efet:TimeOut" />
            <enumeration value="efet:InvalidMatchAttempt" />
            <enumeration value="efet:AmendmentError" />
            <enumeration value="efet:IDNotFound" />
            <enumeration value="efet:UniquenessViolation" />
            <enumeration value="efet:NoMatch" />
            <enumeration value="efet:ReferencedDocNotExists" />
            <enumeration value="efet:RefDocInvalidState" />
            <enumeration value="efet:MinorVersionInInvalidState" />
        </restriction>
    </simpleType>
    <simpleType name="ReasonTextType">
        <annotation>
            <documentation>
                Uid: ET0016
                Definition: The textual explanation of an act.
            </documentation>
        </annotation>
        <restriction base="ecc:s512" />
    </simpleType>
    <simpleType name="RoleType">
        <restriction base="NMTOKEN">
            <enumeration value="Trader" />
            <enumeration value="Broker" />
            <enumeration value="ClearingHouse" />
            <enumeration value="ECVNA" />
        </restriction>
    </simpleType>
    <simpleType name="RoundingType">
        <restriction base="NMTOKEN">
            <enumeration value="0" />
            <enumeration value="1" />
            <enumeration value="2" />
            <enumeration value="3" />
            <enumeration value="4" />
            <enumeration value="5" />
            <enumeration value="6" />
            <enumeration value="7" />
            <enumeration value="8" />
            <enumeration value="9" />
            <enumeration value="N_A" />
        </restriction>
    </simpleType>
    <simpleType name="RSSType">
        <annotation>
            <documentation>
                Must be a SCoTA RSS code.
                http://www.globalcoal.com/scota/scotaSpecs.cfm
            </documentation>
        </annotation>
        <restriction base="ecc:s32" />
    </simpleType>
    <attributeGroup name="SchemaDescription">
        <attribute name="SchemaVersion" use="required" type="string" />
        <attribute name="SchemaRelease" use="required" type="string" />
    </attributeGroup>
    <simpleType name="ScotaOriginType">
        <annotation>
            <documentation>
                The origin code for a Relative Standard Specification (RSS) coal product
                as defined
                http://www.globalcoal.com/scota/scotaSpecs.cfm
                and including: CRAPS, RB, AUS, COL, POL, RUSS, US
            </documentation>
        </annotation>
        <restriction base="ecc:s8" />
    </simpleType>

    <simpleType name="SettlementDisruptionType">
        <restriction base="NMTOKEN">
            <enumeration value="Negociation" />
            <enumeration value="Cancellation_And_Payment" />
        </restriction>
    </simpleType>

    <simpleType name="SO2QualityAdjustmentType">
        <restriction base="ecc:s255" />
    </simpleType>

    <simpleType name="SpecifiedPriceType">
        <restriction base="NMTOKEN">
            <enumeration value="High" />
            <enumeration value="Low" />
            <enumeration value="Average" />
            <enumeration value="Closing" />
            <enumeration value="Opening" />
            <enumeration value="Bid" />
            <enumeration value="Ask" />
            <enumeration value="Ave_Bid_Ask" />
            <enumeration value="Settlement" />
            <enumeration value="Off_Settlement" />
            <enumeration value="Official" />
            <enumeration value="Morning" />
            <enumeration value="Afternoon" />
            <enumeration value="Spot" />
            <enumeration value="Other" />
        </restriction>
    </simpleType>
    <simpleType name="StrategyTypeType">
        <restriction base="ecc:s255" />
    </simpleType>

    <simpleType name="TimeZoneOffsetType">
        <restriction base="integer">
            <maxInclusive value="12" />
            <minInclusive value="-12" />
        </restriction>
    </simpleType>
    <simpleType name="TitleConditionsType">
        <restriction base="ecc:s255" />
    </simpleType>
    <simpleType name="TransactionType">
        <annotation>
            <documentation>
                The coded type of the business nature of a transaction.
            </documentation>
        </annotation>
        <restriction base="NMTOKEN">
            <enumeration value="FOR" />
            <enumeration value="OPT" />
            <enumeration value="PHYS_INX" />
            <enumeration value="OPT_PHYS_INX" />
            <enumeration value="FXD_SWP" />
            <enumeration value="FLT_SWP" />
            <enumeration value="VV_FLT_SWP" />
            <enumeration value="OPT_FXD_SWP" />
            <enumeration value="OPT_FLT_SWP" />
            <enumeration value="OPT_FIN_INX" />
            <enumeration value="OPT_VV_FLT_SWP" />
        </restriction>
    </simpleType>
    <simpleType name="UnitOfMeasureType">
        <restriction base="NMTOKEN">
            <enumeration value="Therm" />
            <enumeration value="KWh" />
            <enumeration value="MWh" />
            <enumeration value="GWh" />
            <enumeration value="MJ" />
            <enumeration value="100MJ" />
            <enumeration value="MMJ" />
            <enumeration value="GJ" />
            <enumeration value="BBL" />
            <enumeration value="MT" />
            <enumeration value="GAL" />
            <enumeration value="ThermPerDay" />
            <enumeration value="KWhPerDay" />
            <enumeration value="GWhPerDay" />
            <enumeration value="MJPerDay" />
            <enumeration value="100MJPerDay" />
            <enumeration value="MMJPerDay" />
            <enumeration value="MW" />
            <enumeration value="KW" />
            <enumeration value="GW" />
            <enumeration value="GJPerDay" />
            <enumeration value="Day" />
            <enumeration value="EUA" />
            <enumeration value="BTU" />
            <enumeration value="CBU" />
            <enumeration value="cwt" />
            <enumeration value="DTH" />
            <enumeration value="hL" />
            <enumeration value="Ingot" />
            <enumeration value="KG" />
            <enumeration value="kL" />
            <enumeration value="L" />
            <enumeration value="LB" />
            <enumeration value="MMBTU" />
            <enumeration value="OBU" />
            <enumeration value="ozt" />
            <enumeration value="SBU" />
            <enumeration value="st" />
            <enumeration value="t" />
            <enumeration value="WBU" />
            <enumeration value="ROC" />
            <enumeration value="LEC" />
            <enumeration value="CER" />
            <enumeration value="Celsius" />
            <enumeration value="Fahrenheit" />
            <enumeration value="Bag" />
            <enumeration value="BCF" />
            <enumeration value="BF" />
            <enumeration value="BSH" />
            <enumeration value="g" />
            <enumeration value="in" />
            <enumeration value="M3" />
            <enumeration value="Vega" />
            <enumeration value="IUN" />
            <enumeration value="KM3" />
            <enumeration value="EUAA" />
            <enumeration value="MMC" />
            <enumeration value="SM3" />
        </restriction>
    </simpleType>
    <simpleType name="UsageType">
        <annotation>
            <documentation>Options are "Test" or "Live"</documentation>
        </annotation>
        <restriction base="NMTOKEN">
            <enumeration value="Test" />
            <enumeration value="Live" />
        </restriction>
    </simpleType>
    <simpleType name="USIType">
        <restriction base="ecc:s42" />
    </simpleType>
    <simpleType name="UTIType">
        <restriction base="ecc:s52" />
    </simpleType>
    <simpleType name="VersionType">
        <annotation>
            <documentation>
                Uid: ET0002 Definition: A code that distinguishes one
                evolution of an identified object from another.
                Information
                about a specific object may be sent several
                times, each transmission being identified by a different
                version number.
            </documentation>
        </annotation>
        <restriction base="integer">
            <maxInclusive value="999" />
            <minInclusive value="1" />
        </restriction>
    </simpleType>

</schema>