v5.3.1-draft/ERR-CoreCmpts-V3R0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ## eRR 3.0 ## $Revision: 120823 $ -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecc="http://www.efet.org/schemas/eCM/V4R2/EFET-CoreCmpts-V4R2.xsd" xmlns:err="http://www.efet.org/schemas/eRR/V3R0"
    elementFormDefault="qualified" targetNamespace="http://www.efet.org/schemas/eRR/V3R0">

    <simpleType name="s4">
        <restriction base="string">
            <maxLength value="4" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s6">
        <restriction base="string">
            <maxLength value="6" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s10">
        <restriction base="string">
            <maxLength value="10" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s12">
        <restriction base="string">
            <maxLength value="12" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s20">
        <restriction base="string">
            <maxLength value="20" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s30">
        <restriction base="string">
            <maxLength value="30" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s35">
        <restriction base="string">
            <maxLength value="35" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s40">
        <restriction base="string">
            <maxLength value="40" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s42">
        <restriction base="string">
            <maxLength value="42" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s50">
        <restriction base="string">
            <maxLength value="50" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s63">
        <restriction base="string">
            <maxLength value="63" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s70">
        <restriction base="string">
            <maxLength value="70" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s80">
        <restriction base="string">
            <maxLength value="80" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s100">
        <restriction base="string">
            <maxLength value="100" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s200">
        <restriction base="string">
            <maxLength value="200" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s255">
        <restriction base="string">
            <maxLength value="255" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s500">
        <restriction base="string">
            <maxLength value="500" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="s512">
        <restriction base="string">
            <maxLength value="512" />
            <minLength value="1" />
            <whiteSpace value="preserve" />
        </restriction>
    </simpleType>

    <simpleType name="ActionDetailType">
        <restriction base="err:s50" />
    </simpleType>

    <simpleType name="ActionType">
        <restriction base="string">
            <enumeration value="New" />
            <enumeration value="Modify" />
            <enumeration value="Cancel" />
            <enumeration value="Exit" />
        </restriction>
    </simpleType>

    <simpleType name="ActionTypeType">
        <restriction base="string">
            <enumeration value="N" />
            <enumeration value="M" />
            <enumeration value="E" />
            <enumeration value="C" />
            <enumeration value="Z" />
            <enumeration value="O" />
        </restriction>
    </simpleType>

    <simpleType name="AdditionalDataKeyType">
        <restriction base="err:s35" />
    </simpleType>

    <simpleType name="AdditionalDataValueType">
        <restriction base="err:s255" />
    </simpleType>

    <simpleType name="AllocationIndicatorType">
        <restriction base="string">
            <enumeration value="PreAllocation" />
            <enumeration value="PostAllocation" />
        </restriction>
    </simpleType>

    <simpleType name="BusinessDayConventionType">
        <restriction base="string">
            <enumeration value="FOLLOWING" />
            <enumeration value="FRN" />
            <enumeration value="MODFOLLOWING" />
            <enumeration value="PRECEDING" />
            <enumeration value="MODPRECEDING" />
            <enumeration value="NEAREST" />
            <enumeration value="NONE" />
            <enumeration value="NotApplicable" />
        </restriction>
    </simpleType>

    <simpleType name="CollateralisationType">
        <restriction base="string">
            <enumeration value="U" />
            <enumeration value="PC" />
            <enumeration value="OC" />
            <enumeration value="FC" />
            <enumeration value="NA" />
        </restriction>
    </simpleType>

    <simpleType name="CollateralizedType">
        <restriction base="string">
            <enumeration value="Uncollateralized" />
            <enumeration value="Partially" />
            <enumeration value="OneWay" />
            <enumeration value="Fully" />
        </restriction>
    </simpleType>

    <simpleType name="CommodityBaseType">
        <restriction base="string">
            <enumeration value="AG" />
            <enumeration value="EN" />
            <enumeration value="FR" />
            <enumeration value="ME" />
            <enumeration value="IN" />
            <enumeration value="EV" />
            <enumeration value="EX" />
            <enumeration value="NA" />
        </restriction>
    </simpleType>

    <simpleType name="CommodityDetailType">
        <restriction base="string">
            <enumeration value="GO" />
            <enumeration value="DA" />
            <enumeration value="LI" />
            <enumeration value="FO" />
            <enumeration value="SO" />
            <enumeration value="OI" />
            <enumeration value="NG" />
            <enumeration value="CO" />
            <enumeration value="EL" />
            <enumeration value="IE" />
            <enumeration value="PR" />
            <enumeration value="NP" />
            <enumeration value="WE" />
            <enumeration value="EM" />
            <enumeration value="NA" />
        </restriction>
    </simpleType>

    <simpleType name="ConfirmationMeansType">
        <restriction base="string">
            <enumeration value="Y" />
            <enumeration value="N" />
            <enumeration value="E" />
        </restriction>
    </simpleType>

    <simpleType name="ConfirmationType">
        <restriction base="string">
            <enumeration value="Electronic" />
            <enumeration value="Non-Electronic" />
        </restriction>
    </simpleType>

    <simpleType name="CorporateSectorType">
        <restriction base="string">
            <enumeration value="A" />
            <enumeration value="C" />
            <enumeration value="F" />
            <enumeration value="I" />
            <enumeration value="L" />
            <enumeration value="O" />
            <enumeration value="R" />
            <enumeration value="U" />
        </restriction>
    </simpleType>

    <simpleType name="CPDomicileType">
        <restriction base="err:s500" />
    </simpleType>

    <simpleType name="CPFinancialNatureType">
        <restriction base="string">
            <enumeration value="F" />
            <enumeration value="N" />
        </restriction>
    </simpleType>

    <simpleType name="CPIDCodeTypeType">
        <restriction base="string">
            <enumeration value="LEI" />
            <enumeration value="MIC" />
            <enumeration value="BIC" />
            <enumeration value="Client_Code" />
        </restriction>
    </simpleType>

    <simpleType name="CPNameType">
        <restriction base="err:s100" />
    </simpleType>

    <simpleType name="DayCountFractionType">
        <restriction base="err:s63" />
    </simpleType>

    <simpleType name="DFTradeEventType">
        <restriction base="string">
            <enumeration value="Allocation" />
            <enumeration value="Backload" />
            <enumeration value="Compression" />
            <enumeration value="EconomicAmendment" />
            <enumeration value="NoneconomicAmendment" />
            <enumeration value="Modify" />
            <enumeration value="Exercise" />
            <enumeration value="Increase" />
            <enumeration value="NewTrade" />
            <enumeration value="Novation" />
            <enumeration value="NovationFee" />
            <enumeration value="FullTermination" />
            <enumeration value="PartialTermination" />
        </restriction>
    </simpleType>

    <simpleType name="EMIROptionStyle">
        <restriction base="string">
            <enumeration value="A" />
            <enumeration value="B" />
            <enumeration value="E" />
            <enumeration value="S" />
        </restriction>
    </simpleType>

    <simpleType name="EProduct1CodeType">
        <restriction base="string">
            <enumeration value="CO" />
            <enumeration value="CR" />
            <enumeration value="CU" />
            <enumeration value="EQ" />
            <enumeration value="IR" />
            <enumeration value="OT" />
        </restriction>
    </simpleType>

    <simpleType name="EProduct2CodeType">
        <restriction base="string">
            <enumeration value="CD" />
            <enumeration value="FR" />
            <enumeration value="FU" />
            <enumeration value="FW" />
            <enumeration value="OP" />
            <enumeration value="SW" />
            <enumeration value="OT" />
        </restriction>
    </simpleType>

    <simpleType name="ETDRoleType">
        <restriction base="string">
            <enumeration value="Broker" />
            <enumeration value="ClearingBroker" />
            <enumeration value="ClearingHouse" />
            <enumeration value="Exchange" />
            <enumeration value="Trader" />
        </restriction>
    </simpleType>

    <simpleType name="ETDTransactionType">
        <restriction base="string">
            <enumeration value="FOR" />
            <enumeration value="OPT" />
            <enumeration value="PHYS_INX" />
            <enumeration value="OPT_PHYS_INX" />
            <enumeration value="FXD_SWP" />
            <enumeration value="FXD_FXD_SWP" />
            <enumeration value="FLT_SWP" />
            <enumeration value="OPT_FXD_SWP" />
            <enumeration value="OPT_FXD_FXD_SWP" />
            <enumeration value="OPT_FLT_SWP" />
            <enumeration value="OPT_FIN_INX" />
            <enumeration value="FUT" />
            <enumeration value="OPT_FUT" />
            <enumeration value="SPT" />
        </restriction>
    </simpleType>

    <simpleType name="EuropeRegimeType">
        <restriction base="string">
            <enumeration value="Remit" />
            <enumeration value="Emir" />
        </restriction>
    </simpleType>

    <simpleType name="ExecutionVenueType">
        <restriction base="string">
            <enumeration value="SEF" />
            <enumeration value="DCM" />
            <enumeration value="Off-Facility" />
            <enumeration value="LEI" />
        </restriction>
    </simpleType>

    <simpleType name="FrequencyPeriodType">
        <restriction base="string">
            <pattern value="([1-9][0-9]{0,2}[DWMY]|1T)" />
        </restriction>
    </simpleType>

    <simpleType name="FXProductType">
        <restriction base="string">
            <enumeration value="FXSpot" />
            <enumeration value="FXForward" />
            <enumeration value="FXSwap" />
            <enumeration value="FXOption" />
            <enumeration value="FXForward_Non_Delivererable" />
            <enumeration value="FXOption_Non_Deliverable" />
        </restriction>
    </simpleType>

    <simpleType name="FXRateSourcePageHeadingType">
        <restriction base="err:s255" />
    </simpleType>

    <simpleType name="FXRateSourcePageType">
        <restriction base="err:s255" />
    </simpleType>

    <simpleType name="FXReferenceType">
        <restriction base="err:s255" />
    </simpleType>

    <simpleType name="FXTransactionType">
        <restriction base="string">
            <enumeration value="FOR" />
            <enumeration value="OPT" />
            <enumeration value="FXD_FXD_SWP" />
            <enumeration value="OPT_FXD_FXD_SWP" />
            <enumeration value="SPT" />
        </restriction>
    </simpleType>

    <simpleType name="IProduct1CodeType">
        <restriction base="err:s12" />
    </simpleType>

    <simpleType name="IProduct2CodeType">
        <restriction base="err:s6" />
    </simpleType>

    <simpleType name="IRSProductType">
        <restriction base="string">
            <enumeration value="IRSwap" />
            <enumeration value="Basis" />
            <enumeration value="CrossCurrency" />
        </restriction>
    </simpleType>

    <simpleType name="IRSTransactionType">
        <restriction base="string">
            <enumeration value="FXD_SWP" />
            <enumeration value="FXD_FXD_SWP" />
            <enumeration value="FLT_SWP" />
            <enumeration value="OPT_FXD_SWP" />
            <enumeration value="OPT_FXD_FXD_SWP" />
            <enumeration value="OPT_FLT_SWP" />
        </restriction>
    </simpleType>

    <simpleType name="LoadTypeType">
        <restriction base="string">
            <enumeration value="BL" />
            <enumeration value="PL" />
            <enumeration value="OP" />
            <enumeration value="BH" />
            <enumeration value="OT" />
        </restriction>
    </simpleType>

    <simpleType name="LotsType">
        <restriction base="integer">
            <minInclusive value="1" />
            <maxInclusive value="9999999999999999" />
        </restriction>
    </simpleType>

    <simpleType name="MasterAgreementVersionType">
        <restriction base="err:s4" />
    </simpleType>

    <simpleType name="MessageType">
        <restriction base="string">
            <enumeration value="RealTime" />
            <enumeration value="PET" />
            <enumeration value="Confirm" />
            <enumeration value="Snapshot" />
            <enumeration value="RealTime-PET" />
            <enumeration value="PET-Confirm" />
            <enumeration value="RealTime-PET-Confirm" />
            <enumeration value="Valuation" />
            <enumeration value="Verification" />
            <enumeration value="None" />
            <enumeration value="Document" />
        </restriction>
    </simpleType>

    <simpleType name="OnBehalfOfType">
        <restriction base="string">
            <enumeration value="Buyer" />
            <enumeration value="Seller" />
            <enumeration value="Buyer_And_Seller" />
        </restriction>
    </simpleType>

    <simpleType name="PayRelativeToType">
        <restriction base="string">
            <enumeration value="CalculationPeriodStartDate" />
            <enumeration value="CalculationPeriodEndDate" />
            <enumeration value="LastPricingDate" />
            <enumeration value="ResetDate" />
            <enumeration value="ValuationDate" />
        </restriction>
    </simpleType>

    <simpleType name="PeriodMultiplierType">
        <restriction base="integer">
            <maxInclusive value="999" />
            <minInclusive value="1" />
        </restriction>
    </simpleType>

    <simpleType name="PeriodType">
        <restriction base="string">
            <enumeration value="D" />
            <enumeration value="W" />
            <enumeration value="M" />
            <enumeration value="Y" />
            <enumeration value="T" />
        </restriction>
    </simpleType>

    <simpleType name="PortfolioCodeType">
        <restriction base="err:s20" />
    </simpleType>

    <simpleType name="PriceNotationType">
        <restriction base="string">
            <pattern value="([A-Z]{3}|100)" />
        </restriction>
    </simpleType>

    <simpleType name="ProductIDPrefixType">
        <restriction base="string">
            <enumeration value="UPI" />
            <enumeration value="ISDA" />
            <enumeration value="GTR" />
        </restriction>
    </simpleType>

    <simpleType name="QuoteBasisType">
        <restriction base="string">
            <enumeration value="Currency1PerCurrency2" />
            <enumeration value="Currency2PerCurrency1" />
            <enumeration value="PutCurrencyPerCallCurrency" />
            <enumeration value="CallCurrencyPerPutCurrency" />
        </restriction>
    </simpleType>

    <simpleType name="RateIndexType">
        <restriction base="err:s63" />
    </simpleType>

    <simpleType name="ReportingJurisdictionType">
        <restriction base="string">
            <enumeration value="SEC" />
            <enumeration value="CFTC" />
            <enumeration value="HKMA" />
            <enumeration value="ODRF" />
            <enumeration value="ESMA" />
            <enumeration value="Other" />
        </restriction>
    </simpleType>

    <simpleType name="ReportingRoleType">
        <restriction base="string">
            <enumeration value="Trader" />
            <enumeration value="CP_Agent" />
            <enumeration value="Internal_Agent" />
            <enumeration value="Execution_Agent" />
            <enumeration value="Clearing_Agent" />
        </restriction>
    </simpleType>

    <simpleType name="ReportModeType">
        <restriction base="string">
            <enumeration value="Report" />
            <enumeration value="NoReport" />
            <enumeration value="CmsReport" />
        </restriction>
    </simpleType>

    <simpleType name="RepositoryType">
        <restriction base="err:s20" />
    </simpleType>

    <simpleType name="ResetRelativeToType">
        <restriction base="string">
            <enumeration value="CalculationPeriodStartDate" />
            <enumeration value="CalculationPeriodEndDate" />
        </restriction>
    </simpleType>

    <simpleType name="RollConventionType">
        <restriction base="err:s255" />
    </simpleType>

    <simpleType name="SDRTransactionType">
        <restriction base="string">
            <enumeration value="Trade" />
            <enumeration value="Exit" />
            <enumeration value="Verified" />
            <enumeration value="Disputed" />
            <enumeration value="Amendment" />
            <enumeration value="Increase" />
            <enumeration value="Termination" />
            <enumeration value="Novation" />
            <enumeration value="Novation-Trade" />
            <enumeration value="Backload" />
            <enumeration value="Historical" />
            <enumeration value="Historical-Expired" />
        </restriction>
    </simpleType>

    <simpleType name="ServiceMode">
        <restriction base="string">
            <enumeration value="YES" />
            <enumeration value="NO" />
        </restriction>
    </simpleType>

    <simpleType name="SettlementType">
        <restriction base="string">
            <enumeration value="C" />
            <enumeration value="P" />
            <enumeration value="O" />
        </restriction>
    </simpleType>

    <simpleType name="StateType">
        <restriction base="string">
            <enumeration value="Acknowledgement" />
            <enumeration value="Warning" />
            <enumeration value="Error" />
        </restriction>
    </simpleType>

    <simpleType name="SuppressPriceDisseminationType">
        <restriction base="string">
            <enumeration value="RT" />
            <enumeration value="None" />
        </restriction>
    </simpleType>

    <simpleType name="TaxonomyCodeType">
        <restriction base="string">
            <enumeration value="EMIR_Taxonomy" />
        </restriction>
    </simpleType>

    <simpleType name="TaxonomyType">
        <restriction base="string">
            <enumeration value="U" />
            <enumeration value="I" />
            <enumeration value="E" />
        </restriction>
    </simpleType>

    <simpleType name="TradeIDType">
        <restriction base="err:s30" />
    </simpleType>

    <simpleType name="TradingCapacityType">
        <restriction base="string">
            <enumeration value="A" />
            <enumeration value="P" />
        </restriction>
    </simpleType>

    <simpleType name="UnderlyingCodeTypeType">
        <restriction base="err:s20" />
    </simpleType>

    <simpleType name="UnderlyingType">
        <restriction base="err:s255" />
    </simpleType>

    <simpleType name="UProductCodeType">
        <restriction base="err:s255" />
    </simpleType>

    <simpleType name="ValuationTypeType">
        <restriction base="string">
            <enumeration value="M" />
            <enumeration value="O" />
        </restriction>
    </simpleType>

    <simpleType name="VenueOfExecutionType">
        <restriction base="err:s4" />
    </simpleType>

    <simpleType name="VerificationStatusType">
        <restriction base="string">
            <enumeration value="Verified" />
            <enumeration value="Disputed" />
        </restriction>
    </simpleType>

    <simpleType name="VerificationType">
        <restriction base="string">
            <enumeration value="Electronic" />
            <enumeration value="Non-Electronic" />
            <enumeration value="Unverified" />
        </restriction>
    </simpleType>

    <simpleType name="WeekDayType">
        <restriction base="string">
            <enumeration value="MON" />
            <enumeration value="TUE" />
            <enumeration value="WED" />
            <enumeration value="THU" />
            <enumeration value="FRI" />
            <enumeration value="SAT" />
            <enumeration value="SUN" />
            <enumeration value="TBILL" />
        </restriction>
    </simpleType>

</schema>