v5.3.1-draft/ERR-IRT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
## eRR 3.0
## $Revision: 120823 $
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecc="http://www.efet.org/schemas/eCM/V4R2/EFET-CoreCmpts-V4R2.xsd"
    xmlns:err="http://www.efet.org/schemas/eRR/V3R0" elementFormDefault="qualified">

    <xsd:import namespace="http://www.efet.org/schemas/eCM/V4R2/EFET-CoreCmpts-V4R2.xsd" schemaLocation="EFET-CoreCmpts-V4R2.xsd" />
    <xsd:import namespace="http://www.efet.org/schemas/eRR/V3R0" schemaLocation="ERR-CoreCmpts-V3R0.xsd" />
    <xsd:include schemaLocation="EFET-ConfirmationDescription-V4R2.xsd" />

    <xsd:element name="IRSTradeDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="DocumentHeader" />
                <xsd:element name="DocumentVersion" type="ecc:VersionType" />
                <xsd:element name="TradeID" type="ecc:IdentificationType" minOccurs="0" />
                <xsd:element name="TransactionType" type="err:IRSTransactionType" />
                <xsd:element name="IRSProduct" type="err:IRSProductType" />
                <xsd:element name="BuyerParty" type="ecc:PartyType" />
                <xsd:element name="SellerParty" type="ecc:PartyType" />
                <xsd:element name="Agreement" type="ecc:AgreementType" />
                <xsd:element name="Currency" type="ecc:CurrencyCodeType" />
                <xsd:element name="TradeDate" type="ecc:DateType" />
                <xsd:element name="TradeTime" type="ecc:TimeType" minOccurs="0" />
                <xsd:element name="TraderName" type="ecc:NameType" minOccurs="0" />
                <xsd:element name="Rounding" type="ecc:RoundingType" minOccurs="0" />
                <xsd:element name="CommonPricing" type="ecc:CommonPricingType" minOccurs="0" />
                <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                <xsd:element name="Agents" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Agent" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="AgentType" type="ecc:AgentType" />
                                        <xsd:element name="AgentName" type="ecc:NameType" minOccurs="0" />
                                        <xsd:element name="BrokerID" type="ecc:PartyType" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="OptionDetails" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="OptionsType" type="ecc:OptionType" />
                            <xsd:element name="OptionWriter" type="ecc:PartyType" />
                            <xsd:element name="OptionHolder" type="ecc:PartyType" />
                            <xsd:element name="OptionStyle" type="ecc:OptionStyleType" />
                            <xsd:element name="StrikePrice" type="ecc:PriceType" />
                            <xsd:element name="OptionCurrency" type="ecc:CurrencyCodeType" />
                            <xsd:element name="PremiumRate" type="ecc:PriceType" />
                            <xsd:element name="PremiumCurrency" type="ecc:CurrencyCodeType" />
                            <xsd:element name="TotalPremiumValue" type="ecc:PriceType" />
                            <xsd:element name="PremiumPayments" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="PremiumPayment" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="PremiumPaymentDate" type="ecc:DateType" />
                                                    <xsd:element name="PremiumPaymentValue" type="ecc:PriceType" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ExerciseSchedules" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ExerciseSchedule" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="ExerciseDateTime" type="ecc:UTCTimestampType" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="SwapStreams">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="SwapStream" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="PayerParty" type="ecc:PartyType" />
                                        <xsd:element name="ReceiverParty" type="ecc:PartyType" />
                                        <xsd:element name="CalculationPeriodDates">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="EffectiveDate">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="EffectiveDate" type="ecc:DateType" />
                                                                <xsd:element name="DateAdjustments" minOccurs="0">
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="TerminationDate">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element ref="TerminationDate" />
                                                                <xsd:element name="DateAdjustments" minOccurs="0">
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="CalculationPeriodFrequency" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="PeriodMultiplier" type="err:PeriodMultiplierType" />
                                                                <xsd:element name="Period" type="err:PeriodType" />
                                                                <xsd:element name="RollConvention" type="err:RollConventionType" />
                                                                <xsd:element name="DateAdjustments" minOccurs="0">
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="PaymentDates">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="PaymentFrequency">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="PeriodMultiplier" type="err:PeriodMultiplierType" />
                                                                <xsd:element name="Period" type="err:PeriodType" />
                                                                <xsd:element name="DateAdjustments" minOccurs="0">
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="PaymentRelativeTo" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="PayRelativeTo" type="err:PayRelativeToType" />
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="ResetDates" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="ResetRelativeTo" type="err:ResetRelativeToType" />
                                                    <xsd:element name="ResetFrequency">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="PeriodMultiplier" type="err:PeriodMultiplierType" />
                                                                <xsd:element name="Period" type="err:PeriodType" />
                                                                <xsd:element name="WeeklyRollConvention" type="err:WeekDayType"
                                                                    minOccurs="0" />
                                                                <xsd:element name="DateAdjustments" minOccurs="0">
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="FixingDates" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="PeriodMultiplier" type="err:PeriodMultiplierType" />
                                                                <xsd:element name="Period" type="err:PeriodType" />
                                                                <xsd:element name="DateAdjustments" minOccurs="0">
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element name="BusinessDayConvention" type="err:BusinessDayConventionType" />
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="CalculationPeriodAmount">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Calculation">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="NotionalSchedule">
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element name="NotionalStepSchedule">
                                                                                <xsd:complexType>
                                                                                    <xsd:sequence>
                                                                                        <xsd:element name="InitialValue" type="ecc:QuantityType" />
                                                                                        <xsd:element name="Currency" type="ecc:CurrencyCodeType" />
                                                                                    </xsd:sequence>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                            <xsd:element name="Steps" minOccurs="0">
                                                                                <xsd:complexType>
                                                                                    <xsd:sequence>
                                                                                        <xsd:element name="Step" maxOccurs="unbounded">
                                                                                            <xsd:complexType>
                                                                                                <xsd:sequence>
                                                                                                    <xsd:element name="StepDate"
                                                                                                        type="ecc:DateType" />
                                                                                                    <xsd:element name="StepValue"
                                                                                                        type="ecc:QuantityType" />
                                                                                                </xsd:sequence>
                                                                                            </xsd:complexType>
                                                                                        </xsd:element>
                                                                                    </xsd:sequence>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:choice>
                                                                    <xsd:element name="FixedRateSchedule">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="InitialValue" type="ecc:QuantityType" />
                                                                                <xsd:element name="Steps" minOccurs="0">
                                                                                    <xsd:complexType>
                                                                                        <xsd:sequence>
                                                                                            <xsd:element name="Step" maxOccurs="unbounded">
                                                                                                <xsd:complexType>
                                                                                                    <xsd:sequence>
                                                                                                        <xsd:element name="StepDate"
                                                                                                            type="ecc:DateType" />
                                                                                                        <xsd:element name="StepValue"
                                                                                                            type="ecc:QuantityType" />
                                                                                                    </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                            </xsd:element>
                                                                                        </xsd:sequence>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                    <xsd:element name="FloatingRateCalculation">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="FloatingRateIndex" type="err:RateIndexType" />
                                                                                <xsd:element name="IndexTenor">
                                                                                    <xsd:complexType>
                                                                                        <xsd:sequence>
                                                                                            <xsd:element name="PeriodMultiplier"
                                                                                                type="err:PeriodMultiplierType" />
                                                                                            <xsd:element name="Period" type="err:PeriodType" />
                                                                                        </xsd:sequence>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:choice>
                                                                <xsd:element name="DayCountFraction" type="err:DayCountFractionType" />
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>